@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Meetings";
    MeetingViewModel meeting = ViewBag.MeetingVM;
}

<link href="~/css/Meeting.css" rel="stylesheet" type="text/css">

<div class="container mt-5 text-center">
    <p class="text-danger">@ViewBag.Error</p>
    <form asp-action="Meeting" asp-controller="Meeting" asp-route-datetime="datetime" asp-route-name="name" method="post" id="meeting">
        <div class="row mr-1 ml-1">
            <input type="date" name="datetime" id="datetime" class="form-control col-md-4 m-1" placeholder="Date (dd/mm/yyyy)" required/>
            <input type="text" name="name" id="name" class="form-control col-md-4 m-1" placeholder="Meeting Name" required/>
            <button id="Btn" type="submit" class="btn-sm m-1" onclick="showLoader()">Submit</button>
        </div>
    </form>


    <div class="table-responsive p-0 m-0 mt-3">
        <table id="meetingTable" class="table table-striped table-hover table-sm table-bordered">
            <thead class="">
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Person</th>
                    <th>Attended</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (meeting != null)
                    {
                        if (meeting.Users.Count > 0)
                        {
                            foreach (var entry in meeting.Users)
                            {
                                <tr>
                                    <td class="col-md-2">@string.Join("", entry.Id.ToString().Take(10))...</td>
                                    <td>@meeting.DateTime.Date.ToShortDateString()</td>
                                    <td>@entry.Name</td>
                                    <td>@Convert.ToInt32(entry.wasPresent)</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
        @{
            if (meeting != null)
            {
                if (meeting.Users.Count > 0)
                {
                    <button class="text-right mt-3 btn-sm" type="button" onclick="DownloadCSV()">Download CSV</button>
                }
            }
        }
    </div>
</div>


@section Scripts{

    <script>
        function showLoader() {
            var form = document.getElementById("meeting");
            if (form.checkValidity()) {
                $('#Btn').html('Please wait... <i class="fa fa-refresh fa-spin">');
            }
        }

        function DownloadCSV() {
            var tableID = "#meetingTable";
            var separator = ',';

            var rows = document.querySelectorAll(tableID + ' tr');
            // Construct csv
            var csv = [];
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll('td, th');
                for (var j = 0; j < cols.length; j++) {
                    @*Clean innertext to remove multiple spaces and jumpline (break csv)*@
                    var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                    // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
                    data = data.replace(/"/g, '""');
                    // Push escaped string
                    row.push('"' + data + '"');
                }
                csv.push(row.join(separator));
            }
            var csv_string = csv.join('\n');
            // Download it
            var filename = tableID + new Date().toLocaleDateString() + '.csv';
            var link = document.createElement('a');
            link.style.display = 'none';
            link.setAttribute('target', '_blank');
            link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
            link.setAttribute('download', filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
}